.footer{
  background: #152F4F;
  color:white;
}
.bgImg {
    background-image: url('../img/banner.png');
    background-position: center;
    background-size: cover;
    height: 500px;
}
.btn-primary {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .btn-primary .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .btn-primary:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .btn-primary:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .btn-primary:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

/* calendar */
div.calendar-container {
    max-width: 600px;
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Calendar table */
table.calendar {
    max-width: 700px;
    border-collapse: collapse;
}

/* Calendar headings */
tr.calendar-row {
}

td.calendar-day-head {
    background: #617796;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 14.28%; /* 100% / 7 */
    padding: 12px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/* Calendar days */
td.calendar-day {
    min-height: 80px;
    font-size: 14px;
    position: relative;
    width: 14.28%; /* 100% / 7 */
    padding: 12px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

td.calendar-day:hover {
    background: #f0f0f0;
}

/* Non-participating days */
td.calendar-day-np {
    background: #f5f5f5;
    min-height: 80px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

/* Day number */
.day-number {
    color: #484545;
    font-weight: bold;
    float: right;
    padding: 6px;
    margin: -6px -6px 0 0;
    width: 20px;
    text-align: center;
    text-decoration: none;
}
.current-day { 
  color: #617796 !important; 
  text-decoration: none !important;
}