.footer, .navbar{
  background-image: linear-gradient(to right, #152f4f, #617796);
  color:white;
}
.nav-link {
  color:white;
}

.nav-link:hover {
  color: #b06ab3;
  font-weight: 600;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.bgImg {
    background-image: url('../img/banner.png');
    background-position: center;
    background-size: cover;
    height: 470px;
}
.btn-primary {
    border: 5em;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    -webkit-transform: translate(0);
    transform: translate(0);
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: white;
  }
  
  .btn-primary .text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  }
  
  .btn-primary:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: #0e0e10;
  }
  
  .btn-primary:hover {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .btn-primary:hover .text {
    background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  }

/* calendar */
.control {
  color: #484545;
  text-decoration: none;
}

.control:hover {
color: #617796;
text-decoration: none;
}

.form-select {
  display: inline;
  width: 127px;
}

.year-select{
  width: 95px !important;
}
div.calendar-container {
    max-width: 600px;
    margin: auto;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Calendar table */
table.calendar {
    max-width: 700px;
    border-collapse: collapse;
}

/* Calendar headings */

.calendar-day-head {
    color: #b06ab3;
    font-weight: 500;
    text-align: center;
    width: 14.28%; /* 100% / 7 */
    padding: 12px;
}

/* Calendar days */
.calendar-day {
    min-height: 80px;
    font-size: 14px;
    position: relative;
    text-align: center;
    width: 14.28%; /* 100% / 7 */
    padding: 12px;
}

.calendar-day:hover {
    background: #f0f0f0;
    border-radius: 360px;
}

/* Non-participating days */
.calendar-day-np {
    min-height: 80px;
}

/* Day number */
.day-number {
    color: #484545;
    font-weight: 600;
    padding: 12px;
    text-align: center;
    text-decoration: none;
}
.current-day { 
  color: #b06ab3 !important; 
  text-decoration: none !important;
}